@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --primary-black: #1E1E1E;
    --dark-1: #424242;
    --dark-2: #727272;
    --bg-color: #ff900e1a;
    --main-color: #ff900e; 
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;;
}

body{
    width: 100%;
    height: 100vh;
}

.main-width{
    max-width: 1440px;
    margin: 0 auto;
}
.header{
    background-color: var(--bg-color);
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}
.navbar h1 .logo{
    text-decoration: none;
    font-size: 3rem;
    font-weight: bold;
    color: var(--primary-black);
    margin-top: 50px;
}
.navbar ul{
    margin-top: 50px;
    display: flex;
}
.navbar ul li{
    list-style: none;
}
.navbar ul li a{
    text-decoration: none;
    margin-left: 30px;
    color: var(--dark-1);
    font-size: 20px;
    font-weight: 700px;
}

/* Banner style */
.banner-content{
    text-align: center;
}
.banner-titles{
    max-width: 850px;
    margin: 0 auto;
}

.banner-content h1{
    font-size: 4rem;
    color: var(--primary-black);
    font-weight: bold;
}

.banner-titles p{
    font-size: 20px;
    color: var(--dark-2);
}

.header-btn{
    font-size: 20px;
    font-weight: 600;
    padding: 20px 28px;
    border: none;
    background-color: var(--main-color);
    border-radius: 5px;
    color: #fff;
    margin-top: 50px;
}

.banner-img{
    width: 100%;
    margin: 50px auto;
    border-radius: 15px;
}



/* About us */
.about-us{
    margin-top: 100px;
    background: #fff;
    display: flex;
}


.text1{
    font-size: 45px;
    font-weight: bold;
    margin-top: 150px;
}
.text2{
    color: var(--main-color);
    font-size: 45px;
    font-weight: bold;
}
.span1{
    color: var(--dark-2);
}
.span2{
    color: var(--primary-black);
}

.about-info-container{
    width: 650px;
    align-items: center;
    margin-left: 50px;
}
.about-info-container p{
    margin-top: 15px;
    font-size: 20px;
    color: var(--dark-2);
    
}
.img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}
.img-container img{
    width: 100%;
    border-radius: 10px;
}

.btn2{
    margin-top: 20px;
}


/* ---------- Responsive------------ */

@media screen and (max-width: 576px) {
    .navbar, 
    .navbar ul,
    .about-us{
        flex-direction: column;
    }
    .img-container{
        margin: 10px;
    }
    .header{
        padding: 20px;
    }
    .about-info-container{
        width: 450px;
        margin-left: 20px;
    }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
    .about-us{
        flex-direction: column;
    }
    .img-container{
        margin: 10px;
    }
    .header{
        padding: 20px;
    }
}