@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --primary-black: #1E1E1E;
    --dark-1: #424242;
    --dark-2: #727272;
    --bg-color: #ff900e1a;
    --main-color: #ff900e; 
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;;
}

body{
    width: 100%;
    height: 100vh;
}

.main-width{
    max-width: 1440px;
    margin: auto 240px;
}
.header{
    background-color: var(--bg-color);
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.navbar h1 .logo{
    text-decoration: none;
    font-size: 47px;
    font-weight: bold;
    color: var(--primary-black);
    margin-top: 50px;
}
.navbar ul{
    margin-top: 50px;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
}
.navbar ul li a{
    text-decoration: none;
    margin-left: 30px;
    color: var(--dark-1);
    font-size: 20px;
    font-weight: 700px;
}

/* Banner style */
.banner-content{
    text-align: center;
}
.banner-headline{
    margin: 120px 240px 50px 240px;
    width: 850px;
    height: 220px;
}

.banner-headline h1{
    text-align: center;
    font-size: 75px;
    color: var(--primary-black);
    font-weight: bold;
}

.banner-headline p{
    font-size: 20px;
    color: var(--dark-2);
}

.header-btn{
    font-size: 20px;
    font-weight: 600;
    padding: 20px 28px;
    border: none;
    background-color: var(--main-color);
    border-radius: 5px;
    color: #fff;
}

.banner-img{
    margin: 50px auto;
}


/* About us */
.about-us{
    margin-top: 100px;
    background: #fff;
}
.about-us-container{
    display: flex;
}

.text1{
    font-size: 45px;
    font-weight: bold;
    margin-top: 150px;
}
.text2{
    color: var(--main-color);
    font-size: 45px;
    font-weight: bold;
}
.span1{
    color: var(--dark-2);
}
.span2{
    color: var(--primary-black);
}

.about-info-container{
    width: 580px;
    align-items: center;
    margin-left: 50px;
}
.about-info-container p{
    margin-top: 15px;
    font-size: 20px;
    color: var(--dark-2);

}
.about-us-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.img-container img{
    width: 342px;
    height: 342px;
}

.btn2{
    margin-top: 20px;
}